
body {
    line-height: 1;
    margin:0;
    padding: 0;
    font-family: "sans-serif", "Arial";
   
}

window{
    scroll-behavior: smooth;
}
ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a:hover{
    color: none !important
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
h1{
    font-size: 34px
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none !important;
   
}


*{
    box-sizing: border-box;
}
img{
    max-width:100%;
}